{
    "presets": [
        [
            "@babel/preset-env", // ES2015、ES2016、ES2017的语法插件集
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "chrome >= 60",
                        "ie >= 11"
                    ]
                },
                "modules": false
            }
        ],
        "@babel/preset-react", // 支持jsx语法的转换
        "@babel/preset-typescript" // 转换ts代码
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", { // 重利用Babel helper方法, 减少打包体积, 避免全局补丁污染，对打包过的 bunler 提供"沙箱"式的补丁。
            "corejs": {
                "version": 3,
                "proposals": true
            }
        }],
        [
            "import", {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ],
        "@babel/plugin-transform-typescript", // 转换 TypeScript 代码
        "@babel/plugin-transform-flow-strip-types", // 去除ts类型校验
        "@babel/plugin-proposal-class-properties", // class类解析
        "@babel/plugin-syntax-dynamic-import", // 按需导入的支持，目前可以用polyfill代替API的导入
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }], // 注解修饰器的支持
        "@babel/plugin-proposal-optional-chaining" // cell&&cell.pageIndex 写法可以替换成 cell?.pageIndex
    ]
}